.Panel{
    position: fixed;
    top: 8vh;
    left: 76.3vw;
    height: 91vh;
    width: 23vw;
    background-color: var(--bg-color);
    border: var(--div-border);
    border-radius: var(--border-radius);
    
    box-shadow: var(--bottom-shadow);
    z-index: 2;
}


.Container{

    margin-top: 2vh;
    height: 82vh;
    width: 23vw;

    overflow-y: scroll;
}

.NotificationTimeAndButton{
    display:flex;
    justify-content: space-between;
    padding: 0 2vh;

 }