/* navbar.module.css */

.navbar {
  position: sticky;
  background: var(--navbar-bg-color);
  padding-left: 15px;
  padding-right: 15px;
  height: min-content;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--bottom-shadow);
  font-family: var(--font-family);
  position: relative;
  z-index: 4;
}

.logo {
  display: flex;
  align-items: center;
}
.navbar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.NavbarIcons img {
  width: 15px;
  height: 15px;
  align-items: center;
}

.navbar a,
.navbar  div, .navbar p {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 15px;
  font-size: var(--navbar-font-size);
  cursor: pointer;

}

.navbarTexts {
  cursor: default;
  color: var(--text-color);
}

.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: min-content;
}



.navbarListItem:hover a,.navbarListItem:hover div  {
  font-weight: bold;
  color: var(--highlight-color)
}


.navbarListItem:last-child {
  margin-right: 0;
}



.liDivItems {
  text-align: center;
  position: relative;
  align-self: center;
  margin-right: 1rem;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 15px;
  font-size: var(--navbar-font-size);
  cursor: pointer;
  background-color: var(--navbar-bg-color);
  transition: background-color 0.3s ease;
}

.liDivItems:last-child {
  margin-right: 0;
}

.liDivItems::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}



/* highlight */

.navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.navbar:hover::after {
  transform: scaleX(1);
}