/* navbar.module.css */

.navbar {
  position: sticky;
  background-color: var(--accent-color);  /* Adjust the background color */
  color: var(--text-color);
  padding: 15px 20px; /* Adjusted padding for better spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  margin-right: 10px;
  width: 40px; /* Adjusted the size for better visibility */
  height: 40px; /* Adjusted the size for better visibility */
}

.navbar a {
  color: var(--background-color); /* Adjusted the link color */
  text-decoration: none;
  margin-right: 15px; /* Adjusted spacing between links */
  font-size: 1rem; /* Adjusted font size */
  cursor: pointer;
}

.navbarTexts{
  cursor: default;
  color: var(--background-color);
}

.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbarListItem {
  margin-right: 15px; /* Adjusted spacing between list items */
  color: var(--background-color);
}

.navbarListItem:last-child {
  margin-right: 0;
}

.navbar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.liDivItems {
  text-align: center;
  position: relative;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}

.liDivItems:last-child{
  margin-right: 0;
}

.liDivItems::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.liDivItems:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logout{
  background-color: var(--background-color);
  padding: 5px 15px;
  border: 1px solid var(--accent-color); /* Match the accent color */
  border-radius: 5px;
  transition: border-color 0.3s ease;
  cursor: pointer;
  text-overflow: ellipsis;
  color: var(--accent-color); 
  font-weight: bold;
}

.logout:hover{
  border-color: #0d2a8b;
  color: #200E3A;
}
/* Add more styles as needed */
