/* navbar.module.css */

.navbar {
  position: sticky;
  background-color: var(--accent-color); /* Keep the accent color consistent */
  color: var(--text-color);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: var(--div-border); /* Add a border consistent with previous styling */
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.navbar a {
  color: var(--background-color);
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.navbarTexts {
  cursor: default;
  color: var(--background-color);
}

.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbarListItem {
  margin-right: 15px;
  color: var(--background-color);
}

.navbarListItem:last-child {
  margin-right: 0;
}

.navbar .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.liDivItems {
  text-align: center;
  position: relative;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
}

.liDivItems:last-child {
  margin-right: 0;
}

.liDivItems::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}

.liDivItems:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logout {
  background-color: var(--background-color);
  padding: 5px 15px;
  border: var(--div-border); /* Add a border consistent with previous styling */
  border-radius: 5px;
  transition: border-color 0.3s ease;
  cursor: pointer;
  text-overflow: ellipsis;
  color: var(--accent-color);
  font-weight: bold;
}

.logout:hover {
  border-color: #0d2a8b;
  color: #200e3a;
}

/* Add more styles as needed */
