

.message {
  display: flex;
  align-items: center;
  margin: 10px;

}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background-color: var(--sent) !important;

}

.message img {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  margin: 0vh 0vh;
}


.message p {
  background-color: var(--received);
  color: var(--chat-text-color);

  font-size: var(--sidepanel-font-size);
  padding: 4px 8px;
  margin: 0vh 2vh;
  border-radius: var(--border-radius);
  max-width: 10vw;
  word-wrap: break-word;
  font-family: var(--font-family);
}