
  /* storyList.module.css */

  .StoryListContainer{
  display: flex;
  height: 93vh;
  }
.storyList {
  align-items: top;
  display: flex;
  position: relative;
  flex: 0 0 auto;
  height: 92vh;
  top:0%;
  overflow-x:scroll;
  padding-left:  1%;
  padding-right: 1%;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;

  left: 0%;
  
}




.storyList  a {
  text-decoration: none; /* Remove underline from links */
  display: inline-flex;
}


.columnHeader {
  text-decoration: none; 
  width: fit-content;

  border-radius: 4px; /* Smaller border-radius for a cleaner look */
  font-size: 1.5em; /* Increase font size for a more heading-like appearance */
  font-weight: bold; /* Make the text bold for emphasis */
  letter-spacing: 1px; /* Add a small letter-spacing for clarity */
}









