/* TaskList.css */

.task-list {
  display: flex;
  flex-wrap: wrap;
}

.task-link {
  text-decoration: none;
  color: #333;
  width: 100%; /* Each task takes full width */
  margin-bottom: 10px;
  box-sizing: border-box;
}



/* TaskSummary.css */

.task-summary {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content {
  color: #333;
}
