
.dropdownContainer {
    margin-right: 5px;
  }
  
  .dropdownSelect {
    text-align: center;
    appearance: none;
    
    border: var(--div-border);
    color: var(--secondary-text-color); 
    font-weight: bold;
    background-color: var(--background-color);
    padding: 5px 10px;
  }
  
  .dropdownSelect:hover {
    border-color: var(--border-color);
    color: var(--secondary-text-color); 
  }
  
  .dropdownOption {
    background-color: var(--background-color);
    color: var(--secondary-text-color); 
    font-weight: bold;
  }
  