/* dropdown.module.css */

.dropdownContainer {
    margin: 5px;
  }
  
  .dropdownSelect {
    appearance: none;
    padding: 10px;
    border: 1px solid var(--accent-color); /* Match the accent color */
    border-radius: 5px;
    background-color: #fff;
    color: var(--accent-color); /* Match the accent color */
    cursor: pointer;
    transition: border-color 0.3s ease;
    font-weight: bold;
  }
  
  .dropdownSelect:hover {
    border-color: #0d2a8b;
  }
  
  .dropdownOption {
    background-color: #fff;
    color: var(--text-color); /* Match the text color */
    font-weight: bold;
  }
  