/* dropdown.module.css */

.dropdownContainer {
    margin-right: 5px;
  }
  
  .dropdownSelect {
    text-align: center;
    appearance: none;
    /* padding: 5px; */
    border: 1px solid var(--accent-color); /* Match the accent color */
    border-radius: 5px;
    /* background-color: #fff; */
    color: var(--accent-color); /* Match the accent color */
    cursor: pointer;
    transition: border-color 0.3s ease;
    font-weight: bold;
    background-color: var(--background-color);
    padding: 5px 10px;
  }
  
  .dropdownSelect:hover {
    border-color: var(--border-color);
    color: #200E3A;
  }
  
  .dropdownOption {
    background-color: #fff ;
    color: var(--text-color); /* Match the text color */
    font-weight: bold;
  }
  