.main {
  height: 63vh;
  overflow-y: scroll;
  padding: 16px;
  
}

.messageContainer {
  display: flex;
  flex-direction: column;
  
}

.form {
  display: flex;
  align-items: center;
  position: relative;
  left: 1vw;
  top: 2vh;
  height: 10vh;
  width: 21vw;
}

.input {
  flex: 1;
  left: 80vw;
  font-family: inherit;
  margin: 0 1vh;
  border: var(--div-border);
  height: 5vh;
  padding: 0 2vh;
  
  border-radius: var(--border-radius);
}

.button {
  background-color: var(--button-color);
  color: #000;
  cursor: pointer;
  border: var(--div-border);
  border-radius: var(--border-radius);
  font-weight: bold;

  margin: 0 1vh;
  height: 5vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--button-hover-color); 
}
.button:active{
  background-color: var(--button-active-color);
}


/* ChatMessage */

.message {
  display: flex;
  align-items: center;
  margin: 10px;
  
}

.sent {
  flex-direction: row-reverse;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  margin-right: 10px;
}

.messageContent {
  display: flex;
  flex-direction: column;
  
}

.message p {
  background-color: #ffffff; 
  color: #000000;

  font-weight:800;
  font-size: 2.6vh;
  padding: 8px 12px;
  margin: 0;
  border-radius: var(--border-radius);
  max-width: 10vw; 
  word-wrap: break-word;
}
