.main {
  height: 60vh;
  overflow-y: scroll;
  padding: 16px;
  
}

.messageContainer {
  display: flex;
  flex-direction: column;
  
}

.form {
  display: flex;
  align-items: center;
  border: var(--div-border);
  position: relative;
  left: 1vw;
  top: 2vh;
  height: 10vh;
  width: 21vw;
}

.input {
  flex: 1;
  left: 80vw;
  font-family: inherit;
  margin: 0 1vh;
  height: 5vh;
}

.button {
  background-color: var(--background-color);
  color: #000;
  cursor: pointer;
  border: var(--div-border);
  border-radius: 1vh;
  font-weight: bold;

  margin: 0 1vh;
  height: 5vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0c3b6a; /* Slightly darker blue on hover */
}

/* ChatMessage.css */

.message {
  display: flex;
  align-items: center;
  margin: 10px;
  
}

.sent {
  flex-direction: row-reverse;
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.messageContent {
  display: flex;
  flex-direction: column;
  
}

.message p {
  background-color: #ffffff; /* Google Blue */
  color: #000000;
  border: var(--div-border);
  border-radius: 1vh;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 60%; /* Adjust as needed */
  word-wrap: break-word;
}