/* Base styles */
body {
  font-family: var(--font-family);    
  background-color: var(--bg-color);
  color: var(--text-color);

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Form styles */
.createTaskForm {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  
  box-shadow: var(--bottom-shadow);
}

.heading {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 1.5em;
}

label {
  margin-top: 10px;
}


/* Input styles */
.taskTitleInput,
.taskContentTextarea,
.assignedToSelect,
.prioritySelect,
.taskStatusSelect,
.deadlineInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: var(--input-box-border);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 20px;
}

.customTextarea {
  resize: vertical;
}

/* Checkbox styles */
.checkbox {
  margin-left: 5px;
  transform: scale(1.5);
}



/* Additional styling for select dropdowns */
.assignedToSelect,
.prioritySelect,
.taskStatusSelect,
.deadlineInput {
  appearance: none;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 30px;
}

/* Responsive styling */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

/* Additional polish */
.createTaskForm {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.taskDetailsTop {
  display: flex;
  font-size: 3vh;
  justify-content: space-between;
}

.deadLine{
  
  margin-left: 5vh;
}


.openToAll{
  font-size: 4vh;
  height: 6vh;
  padding-top: 5vh;
  padding-right: 5vh;
}
