/* Base styles */
body {
  font-family: var(--font-family);    
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Form styles */
.createTaskForm {
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--accent-color);
  margin-bottom: 20px;
  font-size: 1.5em;
}

label {
  margin-top: 10px;
}

.inputField {
  margin-bottom: 20px;
}

/* Input styles */
.taskTitleInput,
.taskContentTextarea,
.assignedToSelect,
.prioritySelect,
.taskStatusSelect,
.deadlineInput {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}

.customTextarea {
  resize: vertical;
}

/* Checkbox styles */
.checkbox {
  margin-left: 5px;
  transform: scale(1.5);
}

/* Button styles */
.btn,
.submit {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 12px 20px;
  border: 5px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
}

.btn:hover,
.submit:hover {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  border: 5px solid var(--accent-color);
}

/* Additional styling for select dropdowns */
.assignedToSelect,
.prioritySelect,
.taskStatusSelect,
.deadlineInput {
  appearance: none;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 30px;
}

/* Responsive styling */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

/* Additional polish */
.createTaskForm {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
