.taskSummary {
  border: var(--div-border);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    width:100px;
    height:85px;
    text-align: left;
    color: black;
    
  }
  .taskCompleted {
    background-color: rgb(151, 250, 151); /* 90% transparent green */
  }
  
   .taskYetToStart{
    background-color:  #8fcdff
  }
  
  .taskInProgress {
    background-color: #fff477; /* Yellow color for tasks yet to start */
  }
  .taskOverDue {
    background-color:  rgb(253, 158, 158)
  }
  .taskStatus {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.8em;
    display: inline
  }
  
  .taskSummaryTitle {
    font-size: 1em;
    font-weight:bold;
    margin: 0;
  }
  
  .taskSummaryText {
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: 400;
    white-space: normal; /* Allow text to wrap */
  }
  
  .overdueChip {
    top: 0;
    right: 0;
    background-color: #c62828; /* Red color for the chip */
    color: #fff; /* White text color for the chip */
    padding: 1.5px 2px; 
    border-radius: 2px; /* Adjust border-radius for a less rounded appearance */
    font-size: 0.7em; /* Adjust font size as needed */
    position: relative
  }

  .openButton {
    top: 0;
    right: 0;
    background-color: #c62828; /* Red color for the chip */
    color: #fff; /* White text color for the chip */
    padding: 1px 2px; /* Adjust padding for height and width */
    border-radius: 3px; /* Adjust border-radius for a less rounded appearance */
    font-size: 0.7em; /* Adjust font size as needed */
    position: relative
  }

