


.StoryTopPart {
  color: var(--text-color);
  font-size: 1em;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 150px;
  margin: 0px 5px;
  
border: var(--div-border);
  
  border-bottom: 0px;

  padding: 0;
  height: 15vh;
}

.StoryName {
  margin-top: 3px;
  margin-bottom: 0px;

  font-size: 3vh;
  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;
  

  font-family: var(--font-family);
}




.StoryDate,
.StoryButton,
.statusChip {
  width: 6vw;
  margin: 0;
  
  background-color: var(--background-color);
}

.StoryDate{
  padding: 2px 4px;
  color: #000;
  padding-top: 0.5vw ;
  font-size: 2.3vh;
  font-weight: bold;
  
  border-bottom: var(--background-color);
}


.statusChip {
  top: 0;
  right: 0;
  color: #c62828;
  padding: 2px 4px;
  
  padding-top: 0.5vw ;
  font-size: 2.3vh;
  position: relative
}



.StoryButton {
  width: 5.5vw;
  margin: 0.25vw ;

  padding: 2px 4px;
  background-color: var(--background-color);
  color: #000;
  border: var(--div-border);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 2.25vh;
  font-weight: bold;
  border-radius: 1vh;
}

.storyButton:hover {
  background-color: var(--primary-color);
}


.CardsContainer {
  justify-content: center;

  margin: 5px;
  margin-top: 0;

  background-color: #989898;
border: var(--div-border);


  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 65vh;
  width: 150px;
}

