
.CardsContainer {
  justify-content: center;

  margin: 5px;
  margin-top: 0;

  background-color: #989898;
border: var(--div-border);
  border-top: 0px;


  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 61vh;
  width: 150px;
}




.StoryTopPart {
  color: var(--text-color);
  background-color: #989898;
  font-size: 1em;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 150px;
  margin: 0px 5px;
  
border: var(--div-border);
  
  border-bottom: 0px;

  padding: 0;
  height: 15vh;
}

.StoryName {
  margin-top: 3px;
  margin-bottom: 5px;

  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;
  
  border-bottom: var(--div-border);

  font-family: var(--font-family);
}

.StoryButton {
  width: 60px;
  padding: 5px 10px;
  margin: 5px;
  background-color: var(--background-color);
  color: #000;
  border: var(--div-border);
  border-radius: 1vh;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: bold;
}

.storyButton:hover {
  background-color: var(--primary-color);
}


