.StoryTopPart {
  color: var(--text-color);
  font-size: 1em;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-self: center;
  width: 150px;
  margin: 0px 5px;

  border: var(--div-border);

  border-bottom: 0px;

  padding: 0;
  height: 15vh;
}

.StoryName {
  margin-top: 3px;
  margin-bottom: 0px;

  font-size: 3vh;
  padding-top: 0;
  padding-bottom: 2px;
  text-align: center;

  color: var(--secondary-text-color);
  font-family: var(--font-family);
}






.StoryDate {
  padding: 2px 4px;
  color: #000;
  padding-top: 0.5vw;
  font-size: 2.3vh;
  font-weight: bold;

}



.Finished {
  background-color: rgb(151, 250, 151);
  /* 90% transparent green */
}



.Active {
  background-color: #fff477;
  /* Yellow color for tasks yet to start */
}

.Overdue {
  background-color: rgb(251, 151, 151)
}


.StoryButton {
  width: 5.5vw;
  margin: 0.25vw;
  padding: 2px 4px;
  background-color: var(--background-color);
  color: #000;
  border: var(--div-border);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 2.25vh;
  font-weight: bold;
  border-radius: var(--button-radius);
}

.storyButton:hover {
  background-color: var(--primary-color);
}


.CardsContainer {
  justify-content: center;
  margin: 5px;
  margin-top: 0;
  background: var(--storyContainer-background-color);
  border: var(--div-border);
  border-top: 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 65vh;
  width: 150px;
}


.CardsContainer-Finished {

  background: linear-gradient(to top, var(--storyContainer-background-color) 95%, rgb(151, 250, 151) 100%)
}

.CardsContainer-Active {

  background: linear-gradient(to top, var(--storyContainer-background-color) 95%, #fff477 100%)
}

.CardsContainer-Overdue {

  background: linear-gradient(to top, var(--storyContainer-background-color) 95%, rgb(251, 151, 151) 100%)
}