.dashboard {
    padding: 20px;
  }
  
  .row {
    margin-bottom: 0;
  }
  
  .col {
    float: left;
    box-sizing: border-box;
  }
  
  .s12 {
    width: 100%;
  }
  
  .m6 {
    width: 50%;
  }
  
  .m5 {
    width: 41.66667%;
  }
  
  .offset-m1 {
    margin-left: 8.33333%;
  }