.storySummary {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    width: 120px;
    height: 100px; /* Adjusted max-width to cover the title */
  }
  .storyCompleted {
    color: #005d03; /* Green color for completed storys */
    background-color: rgba(76, 175, 80, 0.5); /* 90% transparent green */
  }
  .storyNotRelevant {
    color: #ffffff; /* Green color for completed storys */
    background-color: rgba(40, 40, 40, 0.5); /* 90% transparent green */
  }
   .storyYetToStart{
    color: #005498; /* Blue color for storys in progress */
    background-color: rgba(33, 150, 243, 0.1); /* 90% transparent blue */
  }
  
  .storyInProgress {
    color: #5c5300; /* Yellow color for storys yet to start */
    background-color: rgba(255, 230, 0, 0.5); /* 90% transparent yellow */
  }
  .storyDue {
    color: #c62828; /* Red color for storys that are due */
    background-color: rgba(198, 40, 40, 0.1); /* 90% transparent red */
  }
  .storyStatus {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 0.8em;
    display: inline
  }
  
  .storySummaryTitle {
    color: #333;
    font-size: 1em;
    font-weight:bold;
    margin: 0;
    text-align: left;
  }
  
  .storySummaryText {
    color: #666;
    margin-top: 5px;
    font-size: 0.8em;
    white-space: normal; /* Allow text to wrap */
  }
  
  .overdueChip {
    top: 0;
    right: 0;
    background-color: #c62828; /* Red color for the chip */
    color: #fff; /* White text color for the chip */
    padding: 1px 2px; /* Adjust padding for height and width */
    border-radius: 3px; /* Adjust border-radius for a less rounded appearance */
    font-size: 0.7em; /* Adjust font size as needed */
    position: relative
  }