.rightPanel {
    position: fixed;
    top: 15%;
    right: 0;
    height: 80%;
    width: 20%;
    background-color: var(--accent-color); /* google blue*/
    padding: 20px;
    border-radius: 5px;
  }