.rightPanel {
  position: fixed;
  top: 7vh;
  left: 76.3vw;
  
  height: 91vh;
  width: 23vw;
  background-color: var(--ribbon-bg-color);
  /* google blue*/

  border: var(--div-border);
  border-radius: var(--border-radius);
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}