.dropdownContainer {
  display: flex;
}



.dropdownSelect {
  text-align: center;

  border: 0;
  color: var(--text-color);
  background: inherit;
  font-family: var(--font-family);
  font-size: var(--navbar-font-size);
  width: 13vh;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
}


.dropdownOption {
  color: var(--secondary-text-color);
  padding: 8px 10px;
  max-width: 13vh;
  cursor: pointer;
  background-color: var(--navbar-bg-color);
  overflow: hidden;
  text-overflow: ellipsis;
}