

/* the filter bar */
.FilterBar {
    /* position: sticky; */
    
    top: 0;
    left: 0;
    width: 99%;
    min-height: 4%;
    background-color: var(--accent-color);
    
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
  border: var(--div-border);
  }
  
  .FilterHeaderText {
    font-size: 14px;
    color: white;
    margin: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 2px;
  }
  
  .FilterButton {
    padding: 6px;
    margin: 6px;
    background-color: #fff;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    
  border: var(--div-border);
  }
  
  .FilterButton:hover {
    background-color: #d1d1d1;
  }
  
  .FilterButton:active,.ActiveFilterButton {
    background-color: #777777;
  }
  