/* navbar.module.css */

.navbar {
  position: sticky;
  background: var(--navbar-bg-color);

  border: var(--div-border);
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
  position: relative;
  top: 0vh;
  width: min-content;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 92.8vh;
}



.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  cursor: pointer;
  height: min-content;
  padding: auto;
}


.navbar a,
.navbar  div, .navbar p {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--navbar-font-size);
  cursor: pointer;
  
  font-size: 2.5vh;

}

.navbarTexts {
  cursor: default;
  color: var(--text-color);
  user-select: none;
  
}


.navbarListItem {
  text-align: center;
  position: relative;
  align-self: center;
  color: var(--text-color);
  transition: color 0.3s ease;
  user-select: none; /* Disable text selection */
  
  font-size: 2.5vh;

}

.navbarListItem:hover {
  font-weight: bold;  
  color: var(--highlight-color)
}


.navbarListItem:last-child {
  margin-right: 0;
}



.liDivItems {
  text-align: center;
  position: relative;
  align-self: center;
  margin-right: 1rem;
  color: var(--text-color);
  text-decoration: none;
  margin:1vh 0;
  font-size: var(--navbar-font-size);
  cursor: pointer;
  background-color: var(--navbar-bg-color);
  transition: background-color 0.3s ease;
  user-select: none;
}






/* highlight */

.navbar::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 0.125rem;
  right: 0;
  background-color: var(--highlight-color);
  transform: scaleY(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.navbar:hover::after {
  transform: scaleY(1);
}