.RedDot::before,
.RedDot::after {
  content: attr(data-count); /* Use the data attribute for dynamic content */
  padding: 0;
  position: absolute;
  top: 0vh;
  right: 1.5vh;
  width: 2.2vh;
  height: 2.2vh;
  background-color: var(--reddot-bg);
  border-radius: 50%;
  transform: translate(20%, -20%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2vh;
  font-weight: bold;
  color: var(--alt-text-color);
}

/* Add this style for animation if you want */
.RedDot.animate::before,
.RedDot.animate::after {
  animation: scaleUp 0.3s ease-in-out;
}