
  /* TaskList.module.css */

.mainContainer{ 
  display: flex;
  
  background-color: var(--background-color);
}
.taskList {
  justify-content: space-around;
  display: flex;
  position: relative;
  max-width: 100%;

  padding: 1%;
}


.taskListGrid{
  display: grid;
}


.taskColumn {
  width: 450px;
  text-align: center; /* Center children horizontally */
}

.taskColumn > a {
  display: inline-flex;
}


.columnHeader {
  text-decoration: none; /* Remove underline from h2 */
  margin: auto;
  color: var(--secondary-color); /* Set text color */
  width: fit-content;
  border-radius: 4px; /* Smaller border-radius for a cleaner look */
  font-size: 1.5em; /* Increase font size for a more heading-like appearance */
  font-weight: bold; /* Make the text bold for emphasis */
  letter-spacing: 1px; /* Add a small letter-spacing for clarity */
  align-self: center;
}

.taskColumn a {
  text-decoration: none; /* Remove underline from links */
}
