:root {
    --text-color: #ffffff;
    --secondary-text-color:#000;


    --background-color: #FBF9F1;
    --primary-color:#bbcdf5;
    --secondary-color: #FFFFFF;
    --accent-color: #4285F4;

    --border-color: #8b610d;
    --font-family: "Roboto", sans-serif;

    --button-color: #EEF5FF;
    --button-hover-color:#777777;
    --button-active-color:  #4e4e4e;

    --div-border: 1.5px solid #000;
    --bg-color: #22334c;
    

  }


  /* to remove the margins and stuff on top of the navbar */
  body {
    margin: 0;
    font-family: var(--font-family);
    
  background-color: var(--bg-color);
  }


/* scrollbar global styles */
  
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}
