:root {
    --text-color: #4d4d4d;
    --secondary-text-color:#000000;

    --highlight-color: #4285F4;

    
    --navbar-bg-color: #ffffff;
    --navbar-font-size:2.7vh;

    --filterbar-bg: #ffffff;

    --font-family: "Roboto", sans-serif;

    --button-color: #EEF5FF;
    --button-hover-color:#777777;
    --button-active-color:  #4e4e4e;
    --button-radius: 2vh;

    --big-button-border: 5px solid var(--secondary-text-color);
    --big-button-border-hover: 5px solid var(--secondary-text-color);
    --div-border: 1.5px solid #4d4d4d;
    --bg-color: #ffffff;
    

    --storyContainer-background-color: #e7e7e7;
    --story-text-color: #1d1d1d;


    --border-radius: 1vh;




    /* card and story colors */
    --finished:#2dfd4c;
    --pending: #8fcdff;
    --active : #fff477;
    --overdue: #ff9595;

  }


  /* to remove the margins and stuff on top of the navbar */
  body {
    margin: 0;
    font-family: var(--font-family);
    
  background-color: var(--bg-color);
  }


/* scrollbar global styles */
  
::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
}
