:root {
  --text-color: #4d4d4d;
  --secondary-text-color: #000000;
  --alt-text-color: #FFFFFF;
  --highlight-color: #3a85ff;
  --reddot-bg: red;

  --navbar-bg-color: #ffffff;
  --navbar-font-size: 2.7vh;

  --filterbar-bg: #ffffff;
  --filterbar-options-font-size: 2.5vh;
  --filterbar-title-font-size: 2.2vh;
  --sidepanel-font-size: 2.6vh;

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --button-color: #EEF5FF;
  --button-text: #000000;
  --button-hover-color: #92b7f4;
  --button-active-color: var(--highlight-color);
  --button-radius: 2vh;

  --big-button-border: 1px solid var(--secondary-text-color);
  --big-button-border-hover: 1px solid var(--highlight-color);

  --input-box-border: 0.2px solid #000000;
  --div-border: 0px solid #000000;


  --bg-color: #ffffff;


  --storyContainer-background-color: #e7e7e7;
  --story-text-color: #1d1d1d;


  --border-radius: 1vh;

  --bottom-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);


  --card-text: #000000;
  /* card and story colors */
  --finished: #2dfd4c;
  --pending: #fff477;
  --active: #8fcdff;
  --overdue: #ff9595;

  --sent: #4285F4;
  --received: #4285F4;

  /* font-size */
  --card-title: 2.4vh;
  --card-title-weight:600;
  --card-date:2.2vh;

  --notification-text: rgb(255, 255, 255);
  /* notification colors */
  --notification-color: rgb(46, 46, 46);
  --notification-box-border: 0.2px solid #000000;

  /* theme toggle color */
  --theme-toggle: #ffffff;
  --theme-toggle-bg: #333333;
}


/* Dark Mode Styling */
[data-theme='dark'] {
  --text-color: #ffffff;
  --secondary-text-color: #ffffff;
  --alt-text-color: #000000;
  --reddot-bg: white;
  

  --navbar-bg-color: #1a1a1a;
  --filterbar-bg: #1a1a1a;




  --div-border: 0px solid #000000;
  --bg-color: #1a1a1a;

  --notification-box-border: 0.2px solid #717171;

  --storyContainer-background-color: #333333;
  --story-text-color: #e7e7e7;


  --bottom-shadow: 0px 0px 10px rgba(233, 233, 233, 0.4);




  /* theme toggle color */

  --theme-toggle: #333333;
  --theme-toggle-bg: #ffffff;
}


/* to remove the margins and stuff on top of the navbar */
body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
}


/* scrollbar global styles */

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
}